.fc .fc-media-screen .fc-direction-ltr .fc-theme-standard{
    background-color: #333;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}
.fc .fc-toolbar{
    flex-direction: column;
    gap: 1vh;
    padding: 1rem;
    margin-bottom: 0;
}
.fc-toolbar-chunk{   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}
.fc .fc-button {
    background-color: black;
    border-color: black;
}

.fc-button-group{
    width: 100%;
    font-size: 0.7rem;
    background-color: black;
}
.fc-button-group button{
    height: 80%;
}
.fc .fc-button .fc-icon{
    font-size: 1rem;
}
.fc .fc-toolbar-title{
    text-wrap: nowrap;
    font-size: 1.2rem;
} 
.fc .fc-col-header-cell-cushion{
    font-size: 0.7rem;
    padding: 5%;
}

.fc .fc-scrollgrid{
    margin: auto;
    width: 90%;
}
.fc-scroller{
    width: 100%;
}
.fc-scroller[style="overflow: hidden scroll;"] {
    overflow: auto !important; 
}
button.fc-today-button{
    font-size: 2px;
}
.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #D0FD3E;
    color: black;
    font-weight: 400;
 }
 .fc .fc-daygrid-day.fc-day-today {
    background-color: #D0FD3E;
    color: black;
    font-weight: 600;
 }
 .fc .fc-timegrid-col.fc-day-today {
        background-color: #333;
  
 }


